bin/
bin/Debug/
.config/

/obj/
obj/
obj/Debug/
obj/Debug/net9.0/
obj/Debug/net9.0/compressed/
obj/Debug/net9.0/staticwebassets/
obj/Debug/net9.0/scopedcss/
obj/Debug/net9.0/projectbundle/
obj/Debug/net9.0/bundle/
obj/Debug/net9.0/scopedcss/Views/
obj/Debug/net9.0/scopedcss/Views/Shared/
obj/Debug/net9.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net9.0/scopedcss/bundle/EmployeeManagementSystem.styles.css
obj/Debug/net9.0/scopedcss/projectbundle/EmployeeManagementSystem.bundle.scp.css
obj/Debug/net9.0/compressed/w09mdu5ubt-fqcng0r3nj.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/compressed/j7y6jhlg2j-xtxxf3hu2r.gz
obj/Debug/net9.0/compressed/hun6bbxrqh-bqjiyaj88i.gz
obj/Debug/net9.0/compressed/1r4s3txxx2-61n19gt1b8.gz
obj/Debug/net9.0/com